#header {

    height: 50px;
    background-color: #10284e;
    color:#fff;
}

#branding
{
    color: #fff;

}

a.link,
a.visited{
    color:#10284e
}
div.breadcrumbs{
    background:#30caa0;
    color:#10284e;
}

div.breadcrumbs a{
    color: #333;

}
.module h2, .module caption, .inline-group h2 {
    background-color: #10284e;
}

.button, input[type=submit], input[type=button], .submit-row input, a.button
{
    background-color: #10284e;

}

input[type=submit].default, .submit-row input.default 
{
    color: #10284e;
    background-color: #fff;    
    border:2px solid #10284e;
    
}